.root{
    -fx-background-color: #282828;
    -fx-font-size: 12px;
}

.label{
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 14;
}

.button{
    -fx-background-radius: 5;
    -fx-min-width: 45px;
    -fx-text-fill: #7CAFC2;
    -fx-background-color: #383838;
}

.button:hover{
    -fx-background-color: #E8E8E8;
}

.vbox {
    -fx-border-color: green;
    -fx-border-style: dashed;
}